/* COMENTÁRIOS SOBRE CSS */
body { /* abre body*/
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(194, 194, 242);/*cor de fundo da página*/
    margin:0;
    padding:0;
} /* fecha body*/

header {
    background-color: rgb(4, 45, 80);
    color: white;
    padding:10px;
    text-align: center;
}

footer {
    text-align:center;
    padding:10px;
    color:rgb(255, 255, 255); 
    background-color: rgb(16, 36, 58);
    width:100%;
}